/*sets up default colors*/
:root {
    --color-primary: rgb(71, 94, 71);
    --color-secondary: rgb(95, 126, 95);
    --color-background: rgb(51, 51, 51);
    --color-nav: black;
    --color-text: rgb(211, 211, 211);
}

/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Lora&family=PT+Sans&display=swap');


body {
    background-color: var(--color-background);
    margin: 0%;
    font-size: 12px;
}

/*navbar related styling*/
a {
    text-decoration: none;
}
button {
    font-family: 'Lora', serif;
    font-size: 1em;
    width: 95%;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 8px;
}
nav {
    background-color: var(--color-nav);
    position: sticky;
    top: 0;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 5% repeat(5, 1fr) 5%;
}

/*header related styling*/
#heading {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    
}
aside {
    margin: 1em;
    padding: 1em;
    background-color: var(--color-primary);
    border-radius: 16px;
}
section {
    margin: 1em;
    padding: 1em;
    background-color: var(--color-primary);
    border-radius: 16px;
}
img {
    border-radius: 50%;
}
.image {
    display: grid;
    justify-content: center;
}

/*about me related styling*/
#about {
    display: grid;
}

/*skills related styling*/
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.skill {
    margin: 1em;
    padding: 1em;
    background-color: var(--color-primary);
    border-radius: 16px;
}

/*contact related styling*/
#contact {
    display: grid;
}

/*general classes styling*/
.content {
    margin: 1em;
    padding: 1em;
    background-color: var(--color-primary);
    border-radius: 16px;
}
.headline {
    font-family: 'Lora', serif;
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 1rem;
    border-radius: 16px;
    font-size: 3em;
    text-align: center;
}
.text {
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    color: var(--color-text);
    padding: 8px;
}
.text_small {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    color: var(--color-text);
    padding: 8px;
}

/*link target offset to line up with page layout*/
.anchor {
    position: relative;
    top: calc(-29px - 2em);
}

/*responsive design settings*/
/*adds borders to the sides for wider screens*/
@media screen and (min-width: 1366px) {
    .outer_box {
        padding-left: calc((100% - 1366px)/2);
        padding-right: calc((100% - 1366px)/2);
    }
}

/*removes columns for smaller displays*/
@media screen and (max-width: 900px) {
    #skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    #skills {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr)
    }
    #heading {
        grid-template-columns: 1fr;
    }
}